{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Teams

{% endblock %}


{% block content %}

    <h1>Teams</h1>

    <table>
        <thead>
            <th>Code</th>
            <th>Team</th>
            <th>Logo</th>
            
        </thead>

        <tbody>
            {% for team in teams %}

                <tr>
                    <td>{{team.code}}</td>
                    <td><a href="/team/{{team.code}}">{{team.name}}</a></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    

{% endblock %}

