{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - {{member.name}}

{% endblock %}


{% block content %}

    <h1>{{member.name}}</h1>


    <article>

        <p><strong>Team: <a href="/team/{{member.team}}">{{member.team}}</a></strong></p>
        <p><strong>Notes:</strong></p>
        <form action="/note/{{member.id}}" method="POST">
            <fieldset>
                <textarea name="notes" rows="3">{{member.notes}}</textarea>
                <input type="submit" value="Update Notes">
            </fieldset>
        </form>

        <footer>
            <a href="/delete/member/{{member.id}}" onclick="return confirm('Are you sure you wish to delete {{member.name}}?');">Delete Member</a>
        </footer>

    </article>


    <a role="button" href="/">Home</a>

{% endblock %}

